<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThinIce.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>agre.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8867E4B1C732D02005F7B6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D887CCE61C96CEBB00077447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D887CD021C96E1BB00077447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D887CD551C96F26300077447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D887CD641C96FF5900077447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8E134141C749F7200B9D813</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
